

h1 {
    border: 2px solid black; /* add a 1px solid black border */
    padding: 10px; /* add some padding to the heading */
   background-color: white;
    text-align: center;
  }
  

  .form-group {
    
    border: solid black;
  }

body {
  background-color: lightgreen;
}




.card {
    border: 4px solid black;
}

  .card-title {
    font-weight: bold;
  }
  .Assigned {
    font-weight: bold;
  }

  .card-body {
    font-weight: bold;
  }

  .footer{
    background-color: #f8f9fa;
    padding: 20px;
}

/* styles.css */

.pop-up-card {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.pop-up-card-content {
  color: #333;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}


  