

h1 {
  border: 2px solid black; /* add a 1px solid black border */
  padding: 10px; /* add some padding to the heading */
 background-color: blue;
  text-align: center;
}



.form-group{
  border: solid black;
}

body {
background-color: lightskyblue;
}





/* styles.css */




.delete-button {
background-color: blue;
color: white;
border: none;
border-radius: 8px;
}
.btn-primary {
background-color: blue;

}


